body {
	padding-top: 40px;
}
.removeFood.glyphicon-remove-circle {
	color: red;
	font-size: 1.5em;
}

.hero-screen {
	padding-top: 40px;
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(http://i.imgur.com/eOX3ccG.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	margin-bottom: 0 !important;
	overflow: auto;
}

.hero-screen h2, h1, p {
	color: white;
}

.jumbotron {
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(http://i.imgur.com/eOX3ccG.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	margin-bottom: 0 !important;
	overflow: auto;
}

.jumbotron h2, h1, p {
	color: white;
}

.transparency {
	background: rgba(255,255,255,0.3) !important;
}

.input-header {
	color: #9d9d9d !important;
	border: none !important;
	background-color: black !important;
}

.v-align {
	width: 50%;
	height: 30%;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#hero-text {
	color: white;
}

.row#food-list {
	margin-right: 15px !important;
	padding-left: 20px;
}

.row#search {
	margin-right: 5px;
	margin-left: 5px;
}

#foods, #foods-journal {
	padding: 0px;
	list-style: none;
}

#foods-journal .list-group-item {
	margin-top: -1px;
	border-radius: 0;
	border: 1px solid black;
}

#foods .list-group-item {
	margin-top: -1px;
	border-radius: 0;
	border: 1px solid black;
}
@media screen and (max-width: 768px) {
}
