#header, #search {
	width: 100vw;
	text-align: center;
}

#selectedfood {
	display: inline-block;
	height: 80vh;
}

#searchbar {
	width: 100%;
	text-align: center;
}

#foodlist {
	display: inline-block;
	height: 80vh;
	width: 50vw;
	text-align: center;
}

#foods {
	padding: 0px;
}

#foods button {
	appearance: none;
	border: none;
	width: 100%;
	text-align: left;
}

#foods li {
	list-style: none;
}
