.jumbotron {
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(http://i.imgur.com/eOX3ccG.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.v-align {
	width: 50%;
	height: 30%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.navbar {
	border-radius: 0 !important;
}

#hero-text {
	color: white;
}

#header, #search {
	width: 100vw;
	text-align: center;
}

#selected-food {
	display: inline-block;
	height: 80vh;
}

#search-bar {
	width: 100%;
	text-align: center;
}

#food-list {
	display: inline-block;
	height: 80vh;
	width: 50vw;
	text-align: center;
}

#foods {
	padding: 0px;
}

#foods button {
	appearance: none;
	border: none;
	width: 100%;
	text-align: left;
}

#foods li {
	list-style: none;
}
